<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rigotti_project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.DetailsActivity"></activity>
        <activity android:name=".Activity.GalleryActivity" />
        <activity android:name=".Activity.ResultsActivity" />
        <activity android:name=".Activity.RankingActivity" />
        <activity android:name=".Activity.EnrollActivity" />
        <activity android:name=".Activity.PilotsActivity" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.RaceActivity" />
        <activity android:name=".Activity.CalendarActivity" />
        <activity android:name=".Activity.ChampionshipActivity" />
        <activity android:name=".Activity.ChampionshipListActivity" />
        <activity android:name=".Activity.EditDataActivity" />
        <activity android:name=".Activity.ManageDataActivity" />
        <activity android:name=".Activity.AccounActivity" />
        <activity android:name=".Activity.EndRegisterActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>